PL/Connected Services/ServiceReferenceCuentaBancaria/ServiceCuentaBancaria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceCuentaBancaria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56730/ServiceCuentaBancaria.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56730/ServiceCuentaBancaria.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56730/ServiceCuentaBancaria.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
      <xsd:import schemaLocation="http://localhost:56730/ServiceCuentaBancaria.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:56730/ServiceCuentaBancaria.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCuentaBancaria_Depositar_InputMessage">
    <wsdl:part name="parameters" element="tns:Depositar" />
  </wsdl:message>
  <wsdl:message name="IServiceCuentaBancaria_Depositar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCuentaBancaria_Retirar_InputMessage">
    <wsdl:part name="parameters" element="tns:Retirar" />
  </wsdl:message>
  <wsdl:message name="IServiceCuentaBancaria_Retirar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetirarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCuentaBancaria_ConsultarSaldo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSaldo" />
  </wsdl:message>
  <wsdl:message name="IServiceCuentaBancaria_ConsultarSaldo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSaldoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCuentaBancaria">
    <wsdl:operation name="Depositar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCuentaBancaria/Depositar" message="tns:IServiceCuentaBancaria_Depositar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCuentaBancaria/DepositarResponse" message="tns:IServiceCuentaBancaria_Depositar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Retirar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCuentaBancaria/Retirar" message="tns:IServiceCuentaBancaria_Retirar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCuentaBancaria/RetirarResponse" message="tns:IServiceCuentaBancaria_Retirar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSaldo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCuentaBancaria/ConsultarSaldo" message="tns:IServiceCuentaBancaria_ConsultarSaldo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCuentaBancaria/ConsultarSaldoResponse" message="tns:IServiceCuentaBancaria_ConsultarSaldo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCuentaBancaria" type="tns:IServiceCuentaBancaria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Depositar">
      <soap:operation soapAction="http://tempuri.org/IServiceCuentaBancaria/Depositar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retirar">
      <soap:operation soapAction="http://tempuri.org/IServiceCuentaBancaria/Retirar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSaldo">
      <soap:operation soapAction="http://tempuri.org/IServiceCuentaBancaria/ConsultarSaldo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCuentaBancaria">
    <wsdl:port name="BasicHttpBinding_IServiceCuentaBancaria" binding="tns:BasicHttpBinding_IServiceCuentaBancaria">
      <soap:address location="http://localhost:56730/ServiceCuentaBancaria.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>